---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23wearemagma&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="b3LY4O7P4Fub6HgSUqGkLHGBo", oauth_nonce="c4628e79320c3eee38d20e23e0bfebd5",
        oauth_signature="OntxD8Y%2BIH8z59DyBqYUYgO5OY8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528428030", oauth_token="1491802352-NUMZN3mgsZDB5uuvJhd44Rd4esKCGMaQa8HeDkC",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 08 Jun 2018 03:20:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6c07475c6ab575be563a87cdcbfeea6c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1528428893'
      X-Response-Time:
      - '87'
      X-Transaction:
      - 001f54d50089eb06
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Jun 07 23:18:42 +0000 2018","id":1004865259713294341,"id_str":"1004865259713294341","text":"#magmatalks
        #wearemagma https:\/\/t.co\/tYPnXeU6zh https:\/\/t.co\/cVwJknL0mM","truncated":false,"entities":{"hashtags":[{"text":"magmatalks","indices":[0,11]},{"text":"wearemagma","indices":[12,23]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/tYPnXeU6zh","expanded_url":"https:\/\/ift.tt\/2sFAkxT","display_url":"ift.tt\/2sFAkxT","indices":[24,47]}],"media":[{"id":1004865258538840065,"id_str":"1004865258538840065","indices":[48,71],"media_url":"http:\/\/pbs.twimg.com\/media\/DfH_oO5WsAEWZFD.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DfH_oO5WsAEWZFD.jpg","url":"https:\/\/t.co\/cVwJknL0mM","display_url":"pic.twitter.com\/cVwJknL0mM","expanded_url":"https:\/\/twitter.com\/JuanCrg90\/status\/1004865259713294341\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"},"large":{"w":640,"h":640,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1004865258538840065,"id_str":"1004865258538840065","indices":[48,71],"media_url":"http:\/\/pbs.twimg.com\/media\/DfH_oO5WsAEWZFD.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DfH_oO5WsAEWZFD.jpg","url":"https:\/\/t.co\/cVwJknL0mM","display_url":"pic.twitter.com\/cVwJknL0mM","expanded_url":"https:\/\/twitter.com\/JuanCrg90\/status\/1004865259713294341\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"},"large":{"w":640,"h":640,"resize":"fit"}}}]},"metadata":{"iso_language_code":"und","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":93318302,"id_str":"93318302","name":"Juan
        C. Ruiz","screen_name":"JuanCrg90","location":"Le\u00f3n Guanajuato","description":"Software
        Engineer at @weareMagmaLabs | Devnights Co-Organizer at @HacklabTepache  |
        Geek | Maker |Oompa Loompa 24\/7 | Just a Dreamer","url":"https:\/\/t.co\/CNwQUPJ970","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/CNwQUPJ970","expanded_url":"http:\/\/juancrg90.me\/","display_url":"juancrg90.me","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":470,"friends_count":804,"listed_count":50,"created_at":"Sun
        Nov 29 03:46:04 +0000 2009","favourites_count":4604,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":2968,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FCFCFC","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/769996440286420992\/Y9KBfu7m_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/769996440286420992\/Y9KBfu7m_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/93318302\/1510152812","profile_link_color":"3B94D9","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"},{"created_at":"Thu
        Jun 07 20:21:45 +0000 2018","id":1004820729995710465,"id_str":"1004820729995710465","text":"RT
        @weareMagmaLabs: \u00a1El d\u00eda de hoy nuestro #CEO asisti\u00f3 a la rueda
        de prensa para presentar el proyecto #Thinkolima junto con otros l\u00edderes\u2026","truncated":false,"entities":{"hashtags":[{"text":"CEO","indices":[43,47]},{"text":"Thinkolima","indices":[104,115]}],"symbols":[],"user_mentions":[{"screen_name":"weareMagmaLabs[...]
