---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23wearemagma&result_type=recent
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="***REMOVED***", oauth_nonce="731af09d0b104d2dc89748d1f5b6bdb4",
        oauth_signature="bGs0%2BZzU0qN1fnU9wsldvn0EuvQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528128769", oauth_token="***REMOVED***",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 04 Jun 2018 16:12:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9997295e4cc7c0d827d02f828db874f4
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1528129669'
      X-Response-Time:
      - '227'
      X-Transaction:
      - 00eb612400247bef
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Jun 03 14:18:47 +0000 2018","id":1003279836411023361,"id_str":"1003279836411023361","text":"Welcome
        to colima #wearemagma https:\/\/t.co\/LEbiHWMilO https:\/\/t.co\/7YrvrICwDr","truncated":false,"entities":{"hashtags":[{"text":"wearemagma","indices":[18,29]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/LEbiHWMilO","expanded_url":"https:\/\/ift.tt\/2xFLQ1a","display_url":"ift.tt\/2xFLQ1a","indices":[30,53]}],"media":[{"id":1003279835228143616,"id_str":"1003279835228143616","indices":[54,77],"media_url":"http:\/\/pbs.twimg.com\/media\/Dexdsc0WAAA7w2X.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dexdsc0WAAA7w2X.jpg","url":"https:\/\/t.co\/7YrvrICwDr","display_url":"pic.twitter.com\/7YrvrICwDr","expanded_url":"https:\/\/twitter.com\/JuanCrg90\/status\/1003279836411023361\/photo\/1","type":"photo","sizes":{"small":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1003279835228143616,"id_str":"1003279835228143616","indices":[54,77],"media_url":"http:\/\/pbs.twimg.com\/media\/Dexdsc0WAAA7w2X.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Dexdsc0WAAA7w2X.jpg","url":"https:\/\/t.co\/7YrvrICwDr","display_url":"pic.twitter.com\/7YrvrICwDr","expanded_url":"https:\/\/twitter.com\/JuanCrg90\/status\/1003279836411023361\/photo\/1","type":"photo","sizes":{"small":{"w":640,"h":640,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":640,"resize":"fit"},"medium":{"w":640,"h":640,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":93318302,"id_str":"93318302","name":"Juan
        C. Ruiz","screen_name":"JuanCrg90","location":"Le\u00f3n Guanajuato","description":"Software
        Engineer at @weareMagmaLabs | Devnights Co-Organizer at @HacklabTepache  |
        Geek | Maker |Oompa Loompa 24\/7 | Just a Dreamer","url":"https:\/\/t.co\/CNwQUPJ970","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/CNwQUPJ970","expanded_url":"http:\/\/juancrg90.me\/","display_url":"juancrg90.me","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":471,"friends_count":803,"listed_count":50,"created_at":"Sun
        Nov 29 03:46:04 +0000 2009","favourites_count":4585,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":2959,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FCFCFC","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/769996440286420992\/Y9KBfu7m_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/769996440286420992\/Y9KBfu7m_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/93318302\/1510152812","profile_link_color":"3B94D9","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Jun 03 07:18:36 +0000 2018","id":1003174092235821058,"id_str":"1003174092235821058","text":"Let''s
        go to Colima #wearemagma https:\/\/t.co\/ULqBKGC9sH https:\/\/t.co\/exjNwvmzBM","truncated":false,"entities":{"hashtags":[{"text":"wearemagma","indices":[19,30]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ULqBKGC9sH","expanded_url":"https:\/\/ift.tt\/2ssGVf0","display_url":"ift.tt\/2ssGVf0","indices":[31,54]}],"media":[{"id[...]
